body {
	background-color: whitesmoke;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
h1 {
	background-color: white; 
}
button {
	background-color:grey;
	border:1px solid black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	display: inline;
	font-family: Arial, sans-serif;
}
canvas {
	display: inline;
}
.half{
	width: 170px;
	height: 50px;
}
#diameter{
	display:inline;
	margin-left:52px;
	margin-right:52px;
}
#red {
	display:inline;
	color: red;
	margin-left:60px;
	margin-right:20px;
}
#green{
	display:inline;
	color:green;
	margin-left:25px;
	margin-right:35px;
}
#blue {
	display:inline;
	color:blue;
	margin-left:20px;
}